.main-img{
    margin-top: 4%;
    margin-bottom: 4%;
    max-height: 30%;
    min-height: 30%;
    max-width: 30%;
    min-width: 30%;
}
.top{
    height: 100%;  
}
nav {
    box-shadow: none;
}
.material-icons {
    height: 200%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
/*---------------------*/
.head{
    height:auto;
}
.shadow{
    box-shadow: 0 5px 7.5px 0 #454647 !important;
}
.top-color{
    height:250px;
    background-color: #1da1f2;
}

.profile-pic {
    height:250px !important;
    border: solid white 5px;
    border-radius: 10px;
    margin-left:20px;
}

.profile-details, .about{
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}
.over{
    position: relative;
    top:-120px !important;
}
.pages{
    position:relative;
    min-height: 600px !important;
    box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
    z-index:-1;
}
.tabs .indicator { background-color: black !important; }


.details{
    position:relative; 
    top:150px;
}
.about-text{
    font-family: 'Ubuntu';
    font-size: 1.68rem;
    font-weight: 500;
}

.imp{
    color:#1da1f2;
    font-weight: 600;
}

html {
    font-family: "Roboto", sans serif;
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    .details{
        position:relative;
    }
    .about{
        position:relative;
    }
}
.row{
    margin-bottom: 0px !important;
}

@media screen and (max-width:1000px) and (min-width:600px){
    .profile-pic{
        height:auto !important;
    }
}

@media screen and (max-width:600px){
    .pages{
        top:-120px !important;
    }
}


@media screen and (max-width:1000px){
    .about{
        display: block !important;
    }
    .contact{
        display: block !important;
    }
    .project{
        display: block !important;
    }
    .expertise{
        display: block !important;
    }
}

.social{
    padding: 5px;
}

.fa-envelope{
    color: #ea4335;
}
.fa-github{
    color:black;
}
.fa-gitlab{
    color:#fc6d26;
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-twitter{
    color: #1da1f2;
}
.fa-medium{
    color:#02b875;
}
.fa-linkedin-square{
    color:#0077b5;
}
.fa-wordpress{
    color: #464646;
}
.fa-stack-overflow{
    color: #fe7a15;
}

.page-footer{
    padding:0px;
    background-color: #1da1f2;
    box-shadow: 0 -2px 7.5px 0 #454647;
}